[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Lynx Web Browser
Name[ru]=Веб-браузер Lynx
GenericName=Web Browser
GenericName[ru]=Веб-браузер
Comment=Browse the web in the text mode
Comment[ru]=Веб-браузер в текстовом (консольном) режиме
TryExec=lynx
Exec=lynx %u
Terminal=true
MimeType=text/html
Categories=Application;Network;WebBrowser;ConsoleOnly;
NotShowIn=GNOME;
Icon=web-browser
XClassHintResName=Lynx
